[2018-02-28 09:40] juresrpcic opened #1 "Breaking error when editing a disabled entry"
I have a multi-site setup and all entries (singles, channels, structures) report the same error when I disable them (this is the main disable, not "disable for site").

[code]

Really nice plugin otherwise, cheers!

[2018-03-09 04:54] wbrowar commented on #1
Thanks, @juresrpcic! I'll have that fixed in the next release.

[2018-03-09 04:54] #1 closed

[2018-03-09 16:54] wbrowar opened #2 "Fix CP section subnav items going away"

[2018-03-23 12:41] wbrowar opened #3 "Fix Delete button on content guides"

[2018-03-26 16:46] #3 closed

[2018-05-24 14:41] khamer opened #4 "LICENSE doesn't seem to match project"
Hey there - looking through the license, it mentions payment and other things that don't seem to be connected to this project, but other parts seem like standard MIT. Did you mean for this project to have a non-standard license?

[2018-05-30 18:57] wbrowar commented on #4
Hi Kevin, this project is a commercial plugin for Craft CMS 3, so the license is the standard license written for commercial plugins by the Pixel & Tonic. Although, I did mistakingly have `MIT` written in the `composer.json` file (thanks for alerting me to that), I've made that change over to "proprietary".

Is there anything else that you've noticed that might indicate this as an `MIT` licensed p

[2018-05-30 19:10] khamer commented on #4
I think the license itself looked like a typical open suorce license with some pieces editted in that mentioned things (like licenses) that wasn't mentioned at all in the README. I think the only thing I might do left is I might mention licensing or pricing somewhere in the README (or even proprietary) just to make it more clear. Thanks!

[2018-05-30 20:10] wbrowar commented on #4
That sounds like a good idea! I'll update the README with pricing info to start. Thanks for the suggestion.

[2018-05-30 20:15] #4 closed

[2018-07-03 22:50] codyjames opened #5 "Add ability to disable creating/editing guides from the CP"
I'd like to be able to disable creating/editing guides from the CP.

I'd also like to be able to disable the "Admin Log". Which would hide it from the sidebar and widget area.

[2018-07-04 12:48] wbrowar commented on #5
Hey Cody, I'm planning on organizing the settings section for the next release, so I'll put in more control over the appearance of those sections. Thanks for the feedback!

[2018-07-10 15:17] wbrowar commented on #5
This is all set in 1.3.0! I added toggles for all of the widgets and a kill switch for all user edited guides. This won't remove any widgets that are installed or delete any user guides, but you could remove those and then turn these features off if you'd like.

[2018-07-10 15:17] #5 closed

[2018-07-10 15:54] codyjames commented on #5
Fantastic! Thanks so much!

[2018-07-12 17:47] codyjames opened #6 "Unable to find the template “_layouts/sidebar” in "guide/index" at line 1."
I updated to 1.3.0 and am getting this error. I have not edited anything.

[2018-07-12 22:51] wbrowar commented on #6
Hmm. It looks like this is getting confused with a template file in Craft: `vendor/craftcms/cms/src/templates/guide/index`.

Could you please tell me what your Template Path setting is set to in Guide plugin settings?

[2018-07-12 22:53] codyjames commented on #6
<img width="1232" alt="screen shot 2018-07-12 at 3 52 59 pm" src="https://user-images.githubusercontent.com/378665/42663733-ac13edb0-85eb-11e8-8815-877dbe95d5fa.png">

[2018-07-12 22:55] wbrowar commented on #6
Hmm can you change it to `_guide/index` so it matches the first link in your nav? That might fix it for now, but i'll see if I can find a way to fix this, too.

[2018-07-12 22:56] codyjames commented on #6
Tried that already. Did not work.

[2018-07-12 23:02] wbrowar commented on #6
What's the URI of the page that you go to when clicking on the Guide CP link in the sidebar? it should be `admin/guide/home`? (unless you changed your `cpTrigger` to something other than `admin`

[2018-07-12 23:03] codyjames commented on #6
Yup, it's `/admin/guide/home`

[2018-07-12 23:04] wbrowar commented on #6
Hmm I get that error by going to `admin/guide/index`, but `admin/guide/home` seems fine when i match your settings.

[2018-07-12 23:08] wbrowar commented on #6
I'll keep working on it and I'll see if i can recreate the problem. It might be something I can ask the P&T folks about since I don't know what `vendor/craftcms/cms/src/templates/guide/index` is all about.

[2018-07-12 23:11] codyjames commented on #6
Looked into it a bit. Basically getting three errors. Maybe this is the main one: ```An exception has been thrown during the rendering of a template ("Class wbrowar\guide\assetbundles\indexcpsection\IndexCPSectionAsset does not exist").```

[2018-07-12 23:20] codyjames commented on #6
I'm going to try to reinstall

[2018-07-12 23:43] codyjames commented on #6
Wow, that was a pain in the butt. I think I just had some composer issues. Re-installing seemed to fix this.

[2018-07-12 23:43] #6 closed

[2018-07-19 18:04] taylorcgaines opened #7 "Cannot include templates."
I cannot include any templates within another template when guide is rendering. Specifically happens when trying to add a guide to an entry.

[2018-07-19 18:21] taylorcgaines opened #8 "Sections Subnav does not work."
Sections Subnav link entries do not function. The href populates on both the element and the link in the subnav, but it does not jump to the heading.

[2018-07-23 12:56] taylorcgaines commented on #8
Whoops. Technical error. We were on an older version. Working now, thanks!

[2018-07-23 12:56] #8 closed

[2018-07-23 13:00] taylorcgaines opened #9 "Emptying out the Nav in the Guide Settings throws this error."
![image](https://user-images.githubusercontent.com/27028426/43077887-601c50e4-8e4e-11e8-8ec2-e9f90604145a.png)

And it causes the user to be unable to access any of the CMS.

[2018-07-24 00:16] wbrowar commented on #9
Ah okay, I'll do a sanity check there to make sure it's populated before looping through it. Thanks again for catching these things :)

[2018-07-24 00:18] wbrowar commented on #8
Okay! Glad to hear. It's moved a few times due to P&T making some adjustments to the main CP templates.

[2018-08-21 10:19] AndrewMac commented on #9
This one just bit me too ;-)
I think I'll leave it uninstalled for a while, and check back later on
Looking forward to a fix :-)

[2018-08-22 01:43] wbrowar commented on #9
@taylorcgaines @AndrewMac Sorry this took so long to fix ... This should be fixed in [1f7bd3a](https://github.com/wbrowar/craft-3-guide/commit/a45d7bd9f816c88e8c17e039e7caee39b7b0f9e0#diff-4ac32a78649ca5bdd8e0ba38b7006a1e). If you're still seeing any errors like this, please let me know.

[2018-08-22 01:43] #9 closed

[2018-08-22 01:44] wbrowar commented on #2
Fixed in [1f7bd3a](https://github.com/wbrowar/craft-3-guide/commit/a45d7bd9f816c88e8c17e039e7caee39b7b0f9e0#diff-4ac32a78649ca5bdd8e0ba38b7006a1e)

[2018-08-22 01:44] #2 closed

[2018-09-03 13:03] wsydney76 commented on #7
A temporary workaround may be:

[code]

Not sure it works in all situations, and the use of a string instead of a constant (View::TEMPLATE_MODE_SITE) may break, but hey!

[2018-09-11 21:09] stevehurst opened #10 "Can't convert template to editable user guide"
Hi,

I get the following error when I try to convert guide templates into an editable user guide in the control panel

I have an initial set of docs in my` templates/_guide` folder, and I want to convert them for editing within the control panel for my client,.

[2018-09-11 22:10] wbrowar commented on #10
@stevehurst It looks like there's a bug in saving the converted template. I think I have an idea what's going on, so I'll try to get out a fix in a little bit.

[2018-09-12 00:52] wbrowar commented on #10
@stevehurst in trying to recreate your issue I did a `composer clear-cache` and `composer install`, then I updated Craft to 3.0.24 using `Utilities > Updates` and I'm unable to get an error when converting a Twig template. Can you please try updating everything and see if that fixes it.

Also, are you getting that error when clicking `Save` on the Edit User Guide page, or is it happening when tryi

[2018-09-13 15:48] stevehurst commented on #10
@wbrowar I ran both Composer commands and I'm on Craft 3.0.24.

I have six guide pages created using templates. I want to convert them to editable guide pages using the `Convert to User Guide' button, and that is when I get the error. The link I see on that button is `.../admin/guide/new/_guide%2Findex`

If I look in Guide Settings, none of my template guide pages have IDs.

If I create a new guid

[2018-09-17 17:07] wbrowar commented on #10
Okay, I still don't know what the issue is, exactly, but I've figured out that it's happening on some servers and not on others.. I don't know when I'll have a fix in, but I'm working on it.

Thanks for your patience @stevehurst

[2018-09-18 17:36] wbrowar commented on #10
@stevehurst I've figured out what the issue is and just pushed up version 1.3.2 that should fix it. Please let me know if that worked for you

[2018-11-28 17:00] benjamin-smith opened #11 "Saving User Guide from the CP fails if no nav items defined"
It looks like saving a new User Guide from the CP fails if there are no nav items defined.

[code]

Relevant lines: https://github.com/wbrowar/craft-3-guide/blob/7fd6b09ffb9c976c2be85855f933852aa8f7a706/src/controllers/UserGuideController.php#L220-L222

Craft 3.0.26.1
PHP 7.2.5
Apache/2.4.18 (Ubuntu)

[2019-03-20 11:59] jan-dh opened #12 "3.1 compatible"
I tried using the guide plugin, but whenever I pushed an update (and the project-config synced) all my guides were gone. Still in the database, but not shown in the CMS.

I assume the plugin hasn't been made compatible with the new project-config setup?

[2019-03-22 17:00] wbrowar commented on #12
Hi, Jan, yesterday I set up a new instance of Guide for a client on a 3.1 site and the template-based guides and adding and saving an existing guide into the database seems to be working alright, however, I've found a scenario that needs to be fixed for 3.1:

When you're creating a guide from the Guide CP section (using the `+ New Guide` button), it creates the guide, but tries to store the settin

[2019-03-24 18:47] jan-dh commented on #12
Hi, yes. That's exactly the issue I'm experiencing.

[2019-04-01 02:48] wbrowar commented on #11
This *should* be all set now since the nav has been moved out of plugin settings and into the database.

[2019-04-01 02:48] #11 closed

[2019-04-01 02:53] wbrowar commented on #12
Jan, this should be all set in version `1.4.0`. The navigation is now set in the database via a new CP page. When you upgrade it'll run a migration that moves existing navigation items out of the plugin settings and into the new navigation.

Thanks for the heads up about this issue!

[2019-04-01 02:53] #12 closed

[2019-04-04 19:42] #10 closed

[2019-06-30 20:23] wbrowar commented on #7
@taylorcgaines @wsydney76 I'm happy to let you both know that Guide 2 fixes the importing issue in both templates that you create via Twig and in guides that are created with the code edit.

I don't have an exact release date in mind, but it should be out sometime in July.

[2019-06-30 20:23] #7 closed

[2019-07-25 05:26] kylecotter opened #13 "With devmode off can't create or edit guides due to twig error"
Hey Will,

Digging the new features so far!

Getting the following log if devmode is off which breaks editing and adding guides.

`Twig\Error\SyntaxError: Unknown "dump" function. in /var/www/vendor/wbrowar/guide/src/templates/edit.twig`

Thanks!

[2019-07-25 05:30] kylecotter opened #14 "Import Guide Template Checkbox Options Share IDs"
![Screen Shot on 2019-07-25 at 01-28-28](https://user-images.githubusercontent.com/505894/61848295-a3925f00-ae7b-11e9-8a58-002f2a44fc19.png)

These checkboxes share the same IDs between both columns so clicking the label on the right column will select the checkbox in the left column.

[2019-07-25 05:46] kylecotter opened #15 "[FR] Modal/Button Support on Entry Listing Pages"
We've used Structures in some unique ways - ways that we prefer to give editors context to before clicking into an entry.

We've sometimes provided notes and previews of how a section functions on the entry listing page, e.g here:

<img width="1239" alt="Screen_Shot_2019-07-25_at_1_41_40_AM" src="https://user-images.githubusercontent.com/505894/61848931-a2fac800-ae7d-11e9-8f5e-a6daf3d51103.png">

[2019-07-25 12:20] wbrowar commented on #15
Great idea. I can see this being helpful on asset volume pages, too. Thanks for the suggestion!

[2019-07-25 12:31] wbrowar commented on #13
Yeah, I just caught that last night, too... I'll have a fix for it in the next release.

[2019-07-25 12:32] wbrowar commented on #14
Ah, thanks! I'll fix that in the next release, too.

[2019-07-26 17:38] kylecotter opened #16 "Guide iframe CSS affects live preview"
I _think_ the Guide CSS is affecting live preview due to it's global iframe css. Specifically having iframe set to `position: absolute;` globally forces the live preview window to narrow considerably.
<img width="1680" alt="Screen_Shot_2019-07-26_at_1_37_19_PM" src="https://user-images.githubusercontent.com/505894/61970356-9f189400-afaa-11e9-8ea3-8413fc006b35.png">

[2019-07-26 19:19] kylecotter opened #17 "[FR] Search within guide"
Would be nice for clients to be able to search within Guide to find something they need.

[2019-07-26 19:21] kylecotter opened #18 "[FR] Reuse Guides"
Maybe I'm doing this wrong, but I don't see a way to have a Guide in multiple contexts within the organizer. Ideally we'd have a generic guide that applies to multiple channels and want that to be a modal for each. Or, we'd want a Guide to show up as a modal, along with show up in our master guide. Guidance on how to do that currently, or is that an enhancement? Thanks, Will!

[2019-07-27 18:04] wbrowar commented on #17
Let me think about how to make this work, but it’s a good idea. Thanks!

[2019-07-27 18:16] wbrowar commented on #18
This is on my list to address. I have variables to get guide content (like `{{ craft.guide.getAll(OBJECT) }}`), but to render it out properly and easily needs something like an include variable.

Maybe something like `{{ craft.guide.include({ slug: 'assets' } ) }}`. This would find the guide and run in through Guide’s render partial that gets it into the correct format.

This way you could have a

[2019-07-27 19:25] kylecotter commented on #18
Yeah, I can get behind that!

[2019-07-28 02:36] wbrowar commented on #13
Fixed in version 2.0.1

[2019-07-28 02:36] #13 closed

[2019-07-28 02:36] wbrowar commented on #16
Fixed in version 2.0.1

[2019-07-28 02:36] #16 closed

[2019-07-28 02:36] wbrowar commented on #14
Fixed in version 2.0.1

[2019-07-28 02:36] #14 closed

[2019-07-28 02:38] wbrowar commented on #18
Okay, I added this and created a Twig component. Thanks again for the suggestion!

I'll take a look at the other FRs here for a future release since they will both take a little more time to complete.

Thanks again!
Will

[2019-07-28 02:38] wbrowar commented on #18
Added in version 2.0.1

[2019-07-28 02:38] #18 closed

[2019-08-15 18:28] ademers opened #19 "404- Not Found: Invalid utility ID: guide-export-import"
I installed the Free edition of version 2.1.0 on Craft 3.2.10.

Then, I selected the default template path `/templates/_guide` and an Asset Volume called `Guide`. When I click on `Go to the Guide Utilities page` button, I get following error on page http://example.test/admin/utilities/guide-export-import:
[code]
Screenshot: https://cl.ly/7cd97fcf2245

Any ideas what's going on? Thanks!

[2019-08-15 22:22] wbrowar commented on #19
Hey Andrea, I'm not sure what that's about but I'll look into it!

[2019-08-16 22:32] wbrowar commented on #19
Hey @ademers, thanks for pointing this out! It's all set in 2.1.1

[2019-08-16 22:32] #19 closed

[2019-08-22 15:55] wbrowar opened #20 "Clicking on "Edit Guide" when a template is missing throws 404"

[2019-08-22 15:56] wbrowar commented on #20
Error: `Key "filenames" for array with keys "__none__" does not exist.`

[2019-08-25 22:47] #20 closed

[2019-08-28 08:17] darylknight opened #21 "Suggestion - Remove the rotation on guide/welcome"
Congrats on a beautiful introduction to a plugin! I really like the slide-in animation of the welcome book and the setup section. Only a minor thing I thought I'd point out is that browser rendering often isn't great for angles, and this transform for the book makes the text look a bit fuzzy. Totally up to you, but thought I'd highlight it at least on Chrome, OSX:

![image](https://user-images.git

[2019-09-18 19:57] michtio opened #22 "BUG: Migrations update from 1.4 to 2.0 or 2.1"
if I try to upgrade from guide 1.4.0 to guide 2.0.1 or the latest 2.1.2 or anything in between there is always a migration error showing up.

[code]

This makes it quite impossible to upgrade the old guide to the new one.

[2019-09-19 15:11] wbrowar commented on #22
Thanks, @michtio! I'll take a look after I get back from DotAll. I asked a co-worker and he was able to re-create this on his end. He said to run `./craft migrate/all` via command line to get the migration to work for now. Hope that works.

[2019-09-21 12:17] michtio commented on #22
Thank you @wbrowar

I tried manually running the migration and that did indeed seem to be running fine. Just as additional information on why I didn't try to run it another time manually is because in the `composer.json` file on the post-update hook
[code]

[2019-10-08 14:59] JeanLucEsser opened #23 "Suggestion - Multiple instances"
Great plugin, very helpful, but unless I'm mistaken, there's one obvious thing missing after a few minutes of using the plugin: being able to assign a guide to multiple places.

I have some general guides about "generic principles" that I'd like to have on different sections edit pages, and the only way I can find of doing this is by cloning the guide, which defeats the purpose. It would be really

[2019-10-09 10:26] wbrowar commented on #23
Hi @JeanLucEsser, I'm glad you’re liking the plugin so far!

The way that I've tried to solve this is to have a workflow like this:

1. Create a Guide (for example, say the slug of the guide is 'assets') and either put that in the Guide CP or leave it in "Unused Guides"
1. Create your guide for your first edit page and include the contents of the first guide by using this: `craft.guide.include({ s

[2019-10-15 12:46] JeanLucEsser commented on #23
Hi @wbrowar !

Yes, that works great. It makes as many guides (and as many slugs) as there clones, but that's not a real issue, nobody actually cares. So it works nicely and it has one nicety as you can name the clones differently depending on where you want them to appear (and even have a specific intro).

Maybe I missed it in the docs but it's worth emphasizing I think.

Great work.

[2019-10-15 12:46] #23 closed

[2019-10-24 20:29] raptureaid opened #24 "craft_guide_organizers doesn't exist"
After updating from `1.4.0` to any `2.0.0+` version of the guide, the following error message is returned:

[code]

[2019-10-26 12:32] wbrowar commented on #24
Hi @raptureaid I have to figure out these bugs, but in the mean time, a workaround seems to be if you run the migration via the command line it should work. I'll update this when the migration bug is fixed.

[2019-12-09 00:36] tyssen opened #25 "Only one guide can be dragged from Unused Guides to Guide CP"
After installing the plugin and importing the data and templates and ending up on the Organizer page, there's a box, Unused Guides, with four guides on the left and a box on the right, Guide CP, to drag guides to.

I can only drag one guide across to Guide CP. Is that because I'm using the free version of the plugin, or should I be able to add all four?

[2019-12-15 21:37] wbrowar commented on #25
Hey @tyssen, you should be able to drag all 4 over. There's no limit to the amount of guides you can move over into the Guide CP section. It looks like the drag-and-drop target changes once you've moved one guide over, so I'll take a look and see if I can make that a little more user-friendly.

Thanks for bringing this up and I'll keep you updated.

[2019-12-15 21:42] tyssen commented on #25
Great, thanks.

On 16 December 2019 at 7:37:09 am, Will Browar (notifications@github.com) wrote:

Hey @tyssen, you should be able to drag all 4 over. There's no limit to the amount of guides you can move over into the Guide CP section. It looks like the drag-and-drop target changes once you've moved one guide over, so I'll take a look and see if I can make that a little more user-friendly.

Thanks

[2019-12-16 02:06] wbrowar commented on #25
Hey John, I added drop targets to the next update of Guide so it’ll be easier to drag-and-drop within the Organizer. It'll be out around the Craft 3.4 release.

<img width="1180" alt="Screen Shot 2019-12-15 at 9 04 23 PM" src="https://user-images.githubusercontent.com/2158662/70874060-82dbba80-1f7e-11ea-84ec-d179f322431d.png">

[2019-12-16 02:06] #25 closed

[2020-03-12 18:43] clarknelson opened #26 "Images not appearing"
I'm not entirely sure the process I took to add the guides, but everything should be set up correctly.

    {% set foo = craft.assets.filename('index-dashboard.png').one() %}
    <img src="{{ foo.url }}"/>
    {{ craft.guide.component('image', { asset: foo }) }}

The image shows up fine, it's in my asset folder, but the guide component does not load. Any ideas?

[2020-03-16 03:00] wbrowar commented on #26
Hi Clark, I'm able to view a test asset from the example code you provided, so I'm wondering if it has something to do with the volume settings or something to do with the environment. Can you please answer these questions to help narrow down the issue:

Are you getting any console errors when trying to load this image?

Is the asset volume a local volume or is it connected to external storage (li

[2020-03-22 10:03] darylknight commented on #26
I'm getting the same thing. Just installed Guide for the first time, installed the demo templates. The assets are in the Asset Volumne I set during setup, but they aren't showing up in the guides.

![image](https://user-images.githubusercontent.com/1250017/77246968-2222e480-6c35-11ea-8cdc-5ea4d8925b0a.png)

No console errors. This is in a local environment - Valet, PHP 7.4

[2020-03-22 13:47] wbrowar commented on #26
Thanks, Daryl! I think I'll take off the old, JS-based lazy loading setup and switch to the new `loading` attribute-based method. This will rule out Javascript being the issue here, and I was planning on doing that at some point anyway, so we'll see if that helps here.

[2020-03-22 15:09] wbrowar commented on #26
Hey @clarknelson and @darylknight, would you please try changing your version of guide in your composer file to `dev-master` and see if that version fixes the issue?

[2020-03-22 15:15] darylknight commented on #26
No change here, sorry!

`"wbrowar/guide": "dev-master"`

![image](https://user-images.githubusercontent.com/1250017/77253058-b9516180-6c60-11ea-8cce-da39aa679788.png)

[2020-03-22 16:46] wbrowar commented on #26
Hmm.. would you mind copying the HTML that's generated as you see it in DevTools?

For example, my local test version looks like this (after fixing spacing):
[code]

[2020-03-23 11:19] darylknight commented on #26
Yeah - there's actually nothing in there at all:

[code]

![image](https://user-images.githubusercontent.com/1250017/77311396-ae520c00-6d08-11ea-84f1-abd6a41220f2.png)

[2020-03-25 02:12] wbrowar commented on #26
Hey @darylknight, I'm still having trouble replicating this issue. If you wouldn't mind, would you please answer the questions I have above for Clark? https://github.com/wbrowar/craft-guide/issues/26#issuecomment-599322493

In the mean time, I'm currently testing on PHP 7.3 so I'll try testing on 7.4 to see if there's any difference there.

[2020-03-25 02:18] wbrowar opened #27 "Undefined Index error"
[error][yii\base\ErrorException:8] yii\base\ErrorException: Undefined index: section in .../vendor/wbrowar/guide/src/Guide.php:282

[2020-03-25 08:45] darylknight commented on #26
Yep - I get a null error.

Line 25 in that screenshot is the code that comes from Guide for using an image, then trying to do my own transform on it below that on lines 27-29

![image](https://user-images.githubusercontent.com/1250017/77518020-b71c1c80-6e85-11ea-854c-8b4c3f3a581d.png)

[2020-03-25 13:59] wbrowar commented on #26
Thanks for doing such a thorough test. I'll keep looking into it and I'll see if there's something going on in that component.

[2020-03-25 14:09] clarknelson commented on #26
Thanks for looking into this, I am experiencing a similar issue where it seems like the macro doesn't run. I have been busy, but I should be able to run my own tests sometime over the next couple days.

[2020-03-27 03:17] wbrowar commented on #26
Quick update: I've updated my testing version of PHP to 7.4 and did a fresh composer install, but I'm still not able to re-create the issue. Next, I can try doing a fresh install of Craft and the `dev-master` version of Guide and can see if I have any luck. Thanks for your patience so far with this.

[2020-03-27 06:17] clarknelson commented on #26
I created this bug by moving the twig files to another repo. Downloading the assets, but not the templates or creating the guides. Hope this helps you get close, thanks for all the help

[2020-03-28 00:38] fantasticmachine commented on #26
I had this same issue when using the Lite version. I switched to the full version then deleted and reimported the guide templates. The images now show up.
Incidentally I'm using PHP 7.3.1

[2020-03-29 15:45] michtio opened #28 "BUG: When assets are missing - almost impossible to login to CP"
I've noticed this when dealing with asset mismatches, so tried to rebuild the asset tree, and didn't add the guide assets in yet.

What happens is that the login in the CP times out. "Can't find img x" from the ones that are needed for the guide.

There should be a fallback for this, if the images aren't found some kind of placeholder is shown in place...

[2020-03-29 17:29] wbrowar commented on #26
Ah, I completely forgot to ask which edition you are using and now it makes sense (thanks for the comment, @fantasticmachine). [The components are a PRO feature](https://github.com/wbrowar/craft-guide#twig-variables) and when they’re used in your templates in the LITE edition they don't output anything.

When I was about to release Guide 2, someone talked me out of adding a deprecation error in th

[2020-03-29 17:38] wbrowar commented on #28
Hey Michael, I'll take a look and see if something’s going on with the images hanging up the login.

As far as the fallback goes, I was thinking of only showing that to `admin` users so it doesn't look like an error other users. What do you think of that?

[2020-03-29 17:42] wbrowar commented on #28
Oh, are you running into the login error due to an image that's was supposed to be on a Dashboard widget or some other location in the CP? Also, was the error occurring in a Markdown or Twig-based template?

Thanks,
Will

[2020-03-29 18:11] wbrowar commented on #27
This will be fixed in the next release.

[2020-03-29 18:18] wbrowar commented on #21
It looks like Chrome has fixed this by improving the rendering on rotated elements. If you still see this issue, please let me know.

[2020-03-29 18:18] #21 closed

[2020-03-29 18:22] #27 closed

[2020-03-29 18:32] darylknight commented on #26
Yep I'm on the Lite version too. That's fine to put in something else as I expect to hand-code the stuff anyway. That being said, perhaps it's worth either noting somewhere that images don't work from the downloaded guides on the Lite edition to stop this popping up again, or something similar?

[2020-03-30 08:52] michtio commented on #28
@wbrowar exactly, the asset is missing that is supposed to be on a dashboard widget, it is a markdown based template.

I think the easiest solution for this is that Guide comes with some grey with a broken image inside kind of fallback image, and a check happens if asset exists display if not, display the placeholder?

[2020-03-30 08:54] michtio commented on #28
@wbrowar for your suggestion, that seems okay, but as long as non-admin users can login and don't run into that error seems fine.

Personally I don't mind users getting a placeholder in place without the image showing, CP users can always file an issue themselves if they encounter something like that. Just in case the devs are the only admins on the platform, we won't be logging in at all times of

[2020-03-30 11:05] wsydney76 opened #29 "New Page Template Guides are not displayed on Windows"
Evaluating the plugin on a Windows 10 system, there is a `This guide seems to have moved.` error when trying to display a new guide (page template).

Looks like a full path like `E:\craft\temp1\templates/_guide\award.twig` is stored in the db table instead of just `award.twig`

Obviously in https://github.com/wbrowar/craft-guide/blob/82e155fa813eda52485def55ba9e96c2d3cfcac2/src/Guide.php#L467 `'/'

[2020-04-03 11:21] darylknight commented on #21
Yep, you're right - looks a lot better than it used to.

Only other thing is something that can't be changed - I'm sure your'e aware of it!

![image](https://user-images.githubusercontent.com/1250017/78355440-5b087500-75b6-11ea-8dfb-f5516b230e14.png)

[2020-04-20 09:18] thijsdortmann opened #30 "Unable to import when cpNav is empty"
When trying to import a guide into a new environment (with an empty guide), the import fails on https://github.com/wbrowar/craft-guide/blob/master/src/controllers/ImportExportController.php#L171 with `error: "Call to a member function toArray() on null"`

[2020-04-25 14:22] wbrowar commented on #30
Thanks, @thijsdortmann. This will be fixed in the next update.

[2020-04-25 14:29] wbrowar commented on #29
Thanks, @wsydney76! This will be fixed in the next release of Guide.

[2020-04-25 14:42] #29 closed

[2020-04-25 14:42] #30 closed

[2020-05-06 09:23] darylknight commented on #26
If the root cause of this is that components aren't available to Lite licenses, this can probably be closed - but it is causing confusion with people as the Lite version allows you to download guides which only include Pro features.

[2020-07-21 06:43] jedimonkey opened #31 "Can't create guides or see existing guides"
I've ran through the steps and imported from github the templates/assets/guides, however nothing appears to show in the organizer. I've also tried creating a guide and using an existing template and it doesn't appear to error but nothing is showing up in the organizer. I can see the database records getting created in the `guide_guides` table and there is a record in the guide_organizers table, ho

[2020-07-21 16:35] wbrowar commented on #31
Hey Marcus, could you please share your PHP and MySQL versions and versions of Craft and Guide? I'll see if I can re-create it with your setup.

[2020-07-22 02:58] jedimonkey commented on #31
Hey @wbrowar,

Thanks for the quick response, I'll see if I can whip up a clean site to test with as there is a lot of code otherwise. It's running latest craft (3.4.28.1) with postgresql. Will come back to you asap.

thanks!

[2020-07-24 02:58] jedimonkey commented on #31
Hi @wbrowar,

Found the issue - we are using Postgres so when you mentioned mysql I was thought that may be the issue. I noticed that the JSON getting generated had whitespace on a bunch of the fields. Turns out that the schema is using char() rather than a varchar (or string in yii schema terminology). I'll quickly create a PR for you to amend this to a string. Probably not worth making a migrati

[2020-07-24 03:08] jedimonkey commented on #31
I've tested this with both MySQL (5.7) and Postgresl (12).

[2020-07-24 11:18] wbrowar commented on #31
Ah, when you mentioned Postgres I wondered about that. I'll take a look at the PR and plan to merge it in. Thanks for troubleshooting that.

I was prepping a release for some minor things for 3.5 compatibility. I could roll this into that release that will be out when 3.5 hits or I'd be happy to do a release for this PR if you don't plan on upgrading to 3.5 right away. Please just let me know eith

[2020-07-26 11:22] jedimonkey commented on #31
If you don't mind doing a release sooner than later that would be awesome, the team want to get to work setting up some docs for a project. We should be buying a license tomorrow for the plugin 👍

[2020-07-26 17:13] wbrowar commented on #31
Absolutely. Thanks again for figuring out what went wrong. The 2.1.5 release is live and there will be another release ready for Craft 3.5 whenever that is released.

[2020-07-26 17:13] #31 closed

[2020-07-27 03:51] wbrowar opened #33 "Add guides to asset pages"

[2020-10-26 21:23] brandonkelly opened #34 "Fix Composer 2 compatibility"
When installing this plugin with Composer 1, the following deprecation notice is output:

Composer 2 was released on October 24, and is now the default version that will be installed, so it’s critical that this gets resolved ASAP, or people will start getting `Class not found` errors.

To fix, run the following command:

[code]

Then commit your change and [tag a new release](https://craftcms.com/

[2020-10-31 15:07] wbrowar commented on #34
Thanks, @brandonkelly! Tagged in 2.2.1

[2020-10-31 15:07] #34 closed

[2020-11-03 12:40] brandonkelly commented on #34
Thanks!

[2021-08-19 02:31] #33 closed

[2021-08-19 02:31] #28 closed

[2021-08-19 02:31] #26 closed

[2021-08-19 02:31] #24 closed

[2021-08-19 02:32] #22 closed

[2021-08-25 00:05] wbrowar commented on #15
So... @kylecotter, it took a while to get here, but you can totally do this with Guide 3! Actually a lot of the new CSS selector setup was initiated to resolve this. It’ll be out tomorrow, but you can try this out now on the `3.x-dev` version.

[2021-08-25 00:05] #15 closed

[2021-08-26 14:04] wbrowar opened #41 "Clean up Organizer responsive design"
The layout of the Organizer gets squished in smaller screens. Addressing this with these two things:

- [x] Hide area description behind info icon (click to show description)
- [x] Reduce columns via media query

[2021-08-27 19:11] wbrowar opened #43 "Expose hash in GuideDisplay"

[2021-09-06 16:02] wmdhosting opened #46 "3.1.0 update info"
New version is much better to work with..  :)

1. Is it posiblle to add reorder of elements inside  box.. now it eaiser to drag and drop elemets from left list
so Its better to have reorder . than moving elments from one box to other..
![Snag_6f979a94](https://user-images.githubusercontent.com/76176291/132241590-a9953dc9-88bd-4fc4-ad2f-bc0f53a59347.png)

2. Can you add  Snippet..  for Content stat

[2021-09-06 16:21] wmdhosting commented on #46
I found one mor thing..

Does nto save CSS selector..
![Snag_6fb0ef71](https://user-images.githubusercontent.com/76176291/132244215-bbef04ac-a34a-4774-9667-6ad039fe9809.png)

[2021-09-06 16:42] wmdhosting commented on #46
Is it posiblle  to use  craft  slideouts..  for showing guides.. ?

[2021-09-07 12:57] wbrowar commented on #46
Hi @wmdhosting, this is great feedback! I'm going to take some time to look into these and will keep you posted. I will definitely focus on the CSS selector first, since that seems like it must have broke in the last update.

Thanks for all the great screenshots and suggestions.

[2021-09-07 13:08] #41 closed

[2021-09-07 13:08] #43 closed

[2021-09-07 13:09] #46 closed

[2021-09-14 07:26] wmdhosting opened #48 "Idea"
I think this would be great way to show.. Guide

![Snag_96f94cc3](https://user-images.githubusercontent.com/76176291/133213824-2063bcf1-a394-435d-abbd-2ff78b0b7f0e.png)

[2021-09-14 07:44] wmdhosting commented on #48
![Snag_9709ee74](https://user-images.githubusercontent.com/76176291/133216571-1de0bb0d-7721-4cc3-a10f-8b9cbd6814c1.png)

Is it posiblle to do this to work as plugin update info. instead. this show hide buttons.

[2021-09-14 07:48] wmdhosting commented on #48
![Snag_970dd78d](https://user-images.githubusercontent.com/76176291/133217251-7c0b99d4-8c52-4f6d-a144-ba0d3db9a127.png)
bug perhaps.

only first created widget shows name..

So its not easy.. to reorder..

[2021-09-17 22:14] TheFunkyMonk opened #49 "Guide not installing completely from plugin store or project config sync"
## Description

This plugin seems to not fully being installed/initialized from the plugin store (or other environments via project config sync).

## Steps to Reproduce
1. Install Guide plugin (Lite version) from the Craft Plugin Store

### Expected Behavior
Guide shows up as a sidebar item and is shown as "Installed" under Settings > Plugins

### Actual Behavior
Guide does not show up as a sideba

[2021-09-18 17:02] wbrowar commented on #48
Thanks for these ideas, too, @wmdhosting! I'm going to move these to a discussion, under Ideas.

[2021-09-18 17:03] #48 closed

[2021-09-18 17:05] wbrowar commented on #49
Thanks for all of the detail, @TheFunkyMonk. I'll take a look and see if there's something going on.

[2021-11-22 19:09] olets opened #51 "docs page share image is nuxt content's"
The documentation site's preview image is not what I'd expect.

### Details

https://guide.wbrowar.com/'s `og:image`

[code]

points to

https://guide.wbrowar.com/preview.png

which is

![preview](https://user-images.githubusercontent.com/3282350/142920730-d9132e56-95ab-4ff2-b583-6cb7b6187133.png)

Example result: sharing on Slack:

![image](https://user-images.githubusercontent.com/3282350/142920

[2021-12-07 17:55] adrienne opened #52 "FR: Lightbox for images"
We are sticking guides in the sidebars of certain pages, which works great! But any images we put in get shrunk to very small, obviously. Perhaps optional lightbox functionality for images, or else an overall modal option (like TL;DR but an actual modal instead of just show/hide)?

Screenshot of one of our guides with the problem:
![image](https://user-images.githubusercontent.com/89705/145081230-

[2021-12-19 16:39] wbrowar commented on #51
Ah, thanks, @olets! I’ll fix this in the next release.

[2022-02-18 21:38] KatieMFritz commented on #49
I'm having a similar issue. Some weird things happened when I installed locally from the plugin store, but I didn't record them. 😬

But when I do a normal deployment process to staging, the plugin isn't getting installed.

Steps to reproduce (Craft Pro 3.7.27.2)
1. Install Guide locally and confirm it's working. Commit changes.
2. Push code to staging server.
3. `composer install` (no errors)
4. `

[2022-02-18 21:44] KatieMFritz commented on #15
@wbrowar Could you provide an example of how to do this? I would also love to include guides at the index view for entries and assets but haven't worked out how yet.

[2022-02-18 21:50] KatieMFritz commented on #49
Update for anyone else having this issue:

https://craftcms.com/docs/3.x/console-commands.html#plugin-install did the trick for me.

`./craft plugin/install guide`

[2022-02-21 19:22] KatieMFritz commented on #7
This isn't working for me currently, though it might be a syntax error? I'd love to be able to include components directly, without copying them, to make a living style guide a la Storybook. But I'm getting the following error when I try:

File Setup:
[code]

actions.twig:
[code]

test.twig:
[code]

[2022-02-21 19:27] KatieMFritz commented on #7
The workaround above does work though.

[2022-02-23 22:20] KatieMFritz opened #59 "[Bug] "Copy Guide Data" under utilities isn't working"
## Steps to reproduce
1. Go to Utilities > Guide in my local site.
2. Select a Guide to copy.
3. Click "Copy Guide Data" button.

## What I expect to happen
JSON should be copied to my clipboard

## What happens instead
Nothing gets copied to my clipboard.
Console error:

    at Proxy.copyText (guide-admin.0c2f1b3e.js:1:623577)
    at Proxy.copyExportData (guide-admin.0c2f1b3e.js:1:623957)
    at

[2022-03-06 17:12] wbrowar commented on #59
Hi @KatieMFritz, I'm looking into this one and haven't been able to replicate it yet. Can you please tell me what browser you're using?

[2022-03-17 10:04] iwe-hi commented on #59
Hi @wbrowar
We have the same error in Chrome V99.0.48.44.74 on mac os arm64. In Firefox V98.0.1 we get a "navigator.clipboard is undefined" error.

[2022-03-27 23:36] wbrowar commented on #59
Thanks, @KatieMFritz and @iwe-hi for the info! I was going to do some checks and swap out the copy button for a backup textfield when needed, but I sort of like the idea of letting you choose. So in this case the button shouldn't be there in a situation where the clipboard isn't accessible and you'd only see a text field, otherwise you’d see this:

<img width="1500" alt="Screen Shot 2022-03-27 at

[2022-03-28 02:25] wbrowar commented on #49
Thanks, everyone! I think this is all set as of [3.1.1](https://github.com/wbrowar/craft-guide/releases/tag/3.1.1)

[2022-03-28 02:25] #49 closed

[2022-03-28 02:26] wbrowar commented on #59
This has been released in [3.1.1](https://github.com/wbrowar/craft-guide/releases/tag/3.1.1)!

[2022-03-28 02:26] #59 closed

[2022-03-28 02:26] wbrowar commented on #51
Thanks, again! This has been updated in [3.1.1](https://github.com/wbrowar/craft-guide/releases/tag/3.1.1)

[2022-03-28 02:26] #51 closed

[2022-04-15 07:56] davidhellmann opened #70 "CraftCMS 4 Support"
Is it planned to support CraftCMS 4 and is there a Timeline?

[2022-04-15 12:26] wbrowar commented on #70
Hey @davidhellmann! Yes, Guide will get updated for Craft 4 (along with [Little Layout](https://github.com/wbrowar/craft-little-layout)). I'm working on the upgrades now and I hope to have them all set maybe a week before Craft 4 launches. At the very least I plan on having it ready for the May 4 Craft 4 launch.

[2022-04-28 00:55] wbrowar commented on #70
@davidhellmann good news! Progress on the Craft 4 version is coming along nicely and I'm just about to do a thorough test of all of it's features. At this point I plan on launching with the same features in the Craft 3 version, so this update is all about compatibility with Craft 4.

If you'd like to try out the latest version, set the version in your `composer.json` file to `dev-3.x-craft-4`. If

[2022-05-01 15:00] wbrowar commented on #70
Guide 3.2.0 will be released today with support for Craft 4!

[2022-05-01 15:00] #70 closed

[2022-05-14 14:46] wmdhosting opened #76 "FR: Slideouts"
Hey :)

It will be great if posiblle that we can load..  Guides in slideouts..

https://dev-diary.newism.com.au/posts/creating-craft-cms-slideouts.html

[2022-08-08 17:06] gglnx opened #82 "Error on widget"
Currently the dashboard pages doesn't load for users with the Guide widget. We get the following exception:

[code]

[2022-08-15 16:21] gixxy22 commented on #82
same issue with me. couldnt see where to populate "content" so had to uninstall.

Craft Pro 3.7.51

[2022-08-18 11:47] robinsm commented on #82
I also have the same problem. Craft 3.7.47.1

[2022-08-18 11:55] robinsm commented on #82
I was able to get around this by commenting out line 79 of /vendor/wbrowar/guide/src/services/Guide.php

The dashboard then loaded and using the settings icon top right of the dashboard, I was able to remove the widget that was causing the issue by pointing to a deleted Guide.  Hope that helps fix the issue.

[2022-08-18 12:54] gixxy22 commented on #82
excellent, can confirm this works as a temporary workaround, hopefully there will be a fix soon, thanks for updating us!

[2022-08-28 14:37] wbrowar commented on #82
Hi everyone, sorry for the delay here and thanks for your patience! I was out of town for the past couple of weeks.

@robinsm thanks for pointing out the issue here. I've put in a sanity check that should fix this issue.

For the Craft 3 version of guide, you can update to Guide 3.1.2:
[code]

And for the Craft 4 version of guide, you can use Guide 3.2.1:
[code]

If for some reason you notice this

[2022-08-28 14:37] #82 closed

[2022-08-30 07:24] robinsm commented on #82
Thanks for the update and the fix @wbrowar , will let you know if we see any issues after the next update.